.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
}

.pulse {
    width: 240px;
    height: 50px;
    border-radius: 25px;
    background: -webkit-linear-gradient(left, #4D8DBA, #43B3AF, #4D8DBA, #43B3AF);
    cursor: pointer;
    box-shadow: 0 0 0 rgba(116, 185, 255, 0.4);
    animation: pulse 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

.pulse:hover {
    animation: none;
}

.twitter {
    background: #00aced!important;
}

#lastfortune {
    background: -webkit-linear-gradient(left, #f39c12, #e67e22, #f39c12, #e67e22);
    box-shadow: 0 0 0 rgba(243, 156, 18, 0.4);
    animation: pulse-lastfortune 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(116, 185, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(116, 185, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(116, 185, 255, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(116, 185, 255, 0.4);
        box-shadow: 0 0 0 0 rgba(116, 185, 255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(116, 185, 255, 0);
        box-shadow: 0 0 0 30px rgba(116, 185, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(116, 185, 255, 0);
        box-shadow: 0 0 0 0 rgba(116, 185, 255, 0);
    }
}

@-webkit-keyframes pulse-lastfortune {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(243, 156, 18, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(243, 156, 18, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(243, 156, 18, 0);
    }
}

@keyframes pulse-lastfortune {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(243, 156, 18, 0.4);
        box-shadow: 0 0 0 0 rgba(243, 156, 18, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba(243, 156, 18, 0);
        box-shadow: 0 0 0 30px rgba(243, 156, 18, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(243, 156, 18, 0);
        box-shadow: 0 0 0 0 rgba(243, 156, 18, 0);
    }
}

@media only screen and (max-width: 768px) {
    .pulse {
        padding: 20px 10px;
        margin-bottom: 30px;
        width: 50%;
        height: 20px;
        font-size: 12px;
    }
}