.square {
    height: 400px;
    width: 600px;
    background: rgba(255, 255, 255, 0.75);
    left: calc(50% - 300px);
    top: 35%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.paper-shadow {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.16);
}